@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700&subset=latin,vietnamese");
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic");
* {
  margin: 0;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  background: #fff;
  margin: 0;
  color: #42413e;
  padding-top: 50px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #42413e;
  margin-top: 10px; }

html,
body {
  height: 100%; }


.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both; }

.centered {
  text-align: center; }

.mt {
  margin-top: 50px; }

.mb {
  margin-bottom: 50px; }

.mtb {
  margin-top: 50px;
  margin-bottom: 50px; }

.mtb2 {
  margin-top: 100px;
  margin-bottom: 100px; }

.ptb {
  padding-top: 80px;
  padding-bottom: 80px; }

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31; }

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: #33a185; }

a:hover,
a:focus {
  text-decoration: none;
  color: #e16a3e; }

/* BOOTSTRAP MODIFICATION */
.navbar-brand {
  height: 50px;
  padding: 10px 15px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700; }

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #33a185;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  font-size:18px;
  padding:15px 30px;
}

.job{
  margin-bottom: 40px;
}
hr {
  border: 1px solid #42413e;
  width: 100px; }

.nav-stacked > li {
  border-left: 2px solid transparent; }

.nav-stacked > li.active {
  border-left: 2px solid #e16a3e;
  background: #f9f9f9; }

/* Modal Modification */
.modal-content {
  border-radius: 0px; }

.modal-body {
  padding: 0px; }

.modal-body h4 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 10px 0;
  color: #33a185; }

.modal-body h5 {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  padding: 10px 10px 0; }

.modal-body p {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 18px; }

.modal-footer {
  background: #f2f2f2; }

/* FORM CONFIGURATION */
input {
  font-size: 16px;
  min-height: 40px;
  border-radius: 2px;
  line-height: 20px;
  padding: 11px 30px 12px;
  border: 1px solid #b9b9af;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.subscribe-input {
  float: left;
  width: 70%;
  text-align: left;
  margin-right: 2px; }

.subscribe-submit {
  right: 0; }

.btn-orange {
  background: #33a185;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: 700; }

.btn-orange:hover {
  background: #e16a3e;
  color: white; }

/* HEADER SECTION */
#h {
  background: url(../img/header.jpg) no-repeat center top;
  padding-top: 150px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 550px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.welcome {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 8px; }

.welcome h1 {
  text-align: center;
  font-weight: 900; }

/* FOOTER SECTION */
#f {
  background: #f3f3f3;
  padding-bottom: 50px;
  padding-top: 50px; }

/* White Section Overall Configuration */
.text-p {
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b; }

.og {
  color: #33a185; }

i {
  font-size: 40px; }

.rating i {
  font-size: 16px;
  color: #fae321; }

.down i {
  font-size: 30px;
  color: #33a185;
  padding: 5px; }

/* Separators - Parallax Section */
.sep {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative; }

.s01 {
  background-image: url(../img/s01.jpg); }

.s02 {
  background-image: url(../img/s02.jpg); }

.s03 {
  background-image: url(../img/s03.jpg); }

#icon {
  background: url(../img/uxcase/62icon00.png) no-repeat center top;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#canna {
  background: url(../img/uxcase/canna00.png) no-repeat center top;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#scc {
  background: url(../img/uxcase/scc00.jpg) no-repeat center top;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#whaa {
  background: url(../img/uxcase/whaa00.jpg) no-repeat center top;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

  #poker {
    background: url(../img/uxcase/poker00.jpg) no-repeat center top;
    padding-top: 100px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

#port {
  background: url(../img/uxcase.jpg) no-repeat center top;
  padding-top: 100px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#contact {
  background: url(../img/contact.jpg) no-repeat center top;
  padding-top: 200px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 95vh;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

footer {
  text-align: center;
  background: #2c2c2c;
  padding: 10px;
  color: #808080; }

.grey-box {
  background: #2e3941;
  color:white;
  margin: 60px 0px 0px 0px; }
  .grey-box p{
    color:#c8d6e0;
  }
  .btn_group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 40px 16px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
  }

  .btn {
    display: block;
    background-color: #33a185;
    border-radius: 4px;
    padding: 0 24px;
    text-align: center;
    margin: 0 20px;
    color: #ffffff;
}
.btn_group a {
    line-height: 40px;
}
.btn_group a:hover{
    color: #008987;
}
.btn_group .btn:hover {
    background-color: #008987;
    color: #ffffff;
}
/* GREY DIV */
#grey {
  background: #f3f3f3;
  padding-bottom: 80px;
  padding-top: 40px; }

#grey-2 {
  background: #f3f3f3;
  padding-bottom: 40px;
  padding-top: 0px; }

/* Grey Section */
section:nth-of-type(odd) {
  background: #f3f3f3; }

.background-image-holder {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  z-index: 0;
  background-position: 50% 50% !important; }

.side-image {
  padding: 0px;
  position: relative; }

.side-image .image-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  padding: 0px;
  top: 0px; }

.side-image .image-container.pull-right {
  right: 0px; }

.side-image .content {
  padding-top: 80px;
  padding-bottom: 80px; }

.side-image h1 {
  margin-bottom: 40px; }

.side-image p.lead {
  margin-bottom: 64px;
  font-size: 20px; }

.side-image p {
  font-size: 16px; }

.side-image.text-heavy h1 {
  margin-bottom: 32px; }

.side-image.text-heavy p.lead {
  margin-bottom: 40px; }

.side-image.text-heavy .feature {
  margin-top: 64px; }

.side-image.text-heavy .feature h5 {
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase; }

/* Configuration Blog Part */
.w h5 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px; }

.w hr {
  border: 1px solid #2f2f2f;
  width: 40px; }

.w img {
  width: 100%;
  height: auto; }

.w .date {
  float: left;
  border: 2px solid #2f2f2f;
  margin-right: 15px;
  padding: 5px;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  text-align: center; }

.w .date h4 {
  font-weight: 700;
  margin-bottom: -5px;
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase; }

.w .date bold {
  font-weight: 900;
  font-size: 16px; }

.w .desc {
  font-size: 16px;
  margin-top: -15px;
  color: #42413e; }

h2.bold {
  font-weight: 900; }
